@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #f6510b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "Vazirmatn Black";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklcE0CRWT7lDF.woff2) format('woff2');
  }

  @font-face {
    font-family: "Vazirmatn ExtraBold";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRkleg0CRWT7lDF.woff2) format('woff2');
  }

  @font-face {
    font-family: "Vazirmatn Bold En";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklY80CRCT7g.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Bold Ar";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklY80CRWT7lDF.woff2) format('woff2');
  }

  @font-face {
    font-family: "Vazirmatn ExtraBold";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklbY0CRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn SemiBold Ar";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklVozCRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn SemiBold En";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklbY0CRCT7g.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Medium En";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRkleg0CRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Medium Ar";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklVozCRCT7g.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Regular Ar";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzCRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Regular En";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzCRCT7g.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Light Ar";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklTYzCRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Light En";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklTYzCRCT7g.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn ExtraLight";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklegzCRWT7lDF.woff2) format('woff2');
  }
  @font-face {
    font-family: "Vazirmatn Thin";
    src: url(https://fonts.gstatic.com/s/vazirmatn/v13/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgyCRWT7lDF.woff2) format('woff2');
  }

}

