@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  font-family: Vazir;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
    background-color: #FAFAFA;
    overflow-y: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    src: url(/public/fonts/Vazirmatn-VariableFont_wght.ttf) format('ttf');
  }
}